---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import LandingLayout from "../layouts/LandingLayout.astro";
import ContentCard from "../components/ContentCard";
import Separator from "../components/Separator";
import OpeningHours from "../components/OpeningHours";
import Footer from "../components/Footer";
---

<Layout title="Weingarten Maikammer" color="#E8E7E7">
	<LandingLayout
		color="#E8E7E7"
		menu="/arrow-black.png"
		img="bg-[url(/LandingPageBackground.png)] lg:bg-[url(/LandingPageBackground.jpeg)]"
	>
		<div
			class="flex flex-col items-center lg:pl-[12.5%] lg:bg-[#E8E7E7] lg:pr-[6%] mt-[6%]"
		>
			<div class="flex flex-col items-center">
				<div class="text-white lg:text-black">
					<h1 class="font-head lg:text-5xl lg:leading-[80px]">
						Delikatessen
					</h1><h1
						class="inline-block font-head-thin lg:text-5xl lg:leading-[80px]"
					>
						&
					</h1><h1
						class="font-head inline-block lg:text-5xl lg:leading-[80px]"
					>
						&nbsp;Weine &nbsp;
					</h1><h1
						class="inline-block font-head-thin lg:text-5xl lg:leading-[80px]"
					>
						im
					</h1><h1
						class="font-head-thin lg:text-5xl lg:leading-[80px]"
					>
						Idyllischen
					</h1>
					<h1 class="font-head lg:text-5xl lg:leading-[80px]">
						Weingarten
					</h1>
				</div>
			</div>
			<hr class="bg-white border-none h-0.5 mt-6 w-2/3 lg:hidden" />
		</div>
	</LandingLayout>
	<div class="relative">
		<main>
			<div class="px-[8%] lg:px-[12.5%] max-w-[1920px] mt-8">
				<section id="start">
					<ContentCard
						pictureLeft={false}
						heading={"Saisonale Küche"}
						text={"Aktuell haben wir frische pfälzer Spargel für Sie. Diese servieren wir verschiedenen dazu passenden Beilagen. Wir kaufen die Spargeln regionla bei Bauern unseres vertrauens."}
						tel={false}
						picture={"/pictures/TestImage.png"}
					/>
				</section>
				<section id="Küche">
					<Separator color={"#565B60"} />
					<ContentCard
						pictureLeft={true}
						heading={"Küche"}
						text={"Unsere Köchin Ramona hat einen unglaublich hohen Qualtitäsanspruch. Das spielgt sich nicht nur im wundervollen Geschmack wieder sondern auch in der Wahl der Zutaten. Dieses werden immer frisch und regional eingekauft."}
						tel={false}
						picture={"/pictures/Burger.png"}
					/>
				</section>
				<Separator color={"#565B60"} />
			</div>
			<section id="Öffnungszeiten">
				<OpeningHours />
			</section>
			<div class="px-[8%] lg:px-[12.5%] max-w-[1920px] mt-8">
				<section id="ÜberUns">
					<Separator color={"#565B60"} />
					<ContentCard
						pictureLeft={false}
						heading={"Über uns"}
						text={"Wir haben uns nach jahrelanger Erfahrung noch einmal dazu entschieden einen neuen Schritt zu wagen. Nur diesmal ist es nicht der Schritt von Sonja sondern die treibende Kraft ist Lukas welcher mit der Unterstützung seiner Mutter etwas tolles für seine Gäste leisten möchte..."}
						tel={true}
						picture={"/pictures/About.png"}
					/>
				</section>
				<Separator color={"#565B60"} />
			</div>
			<a
				href="https://www.google.de/maps/dir//Restaurant+Weingarten,+Gartenstra%C3%9Fe+15,+67487+Maikammer/@49.29984,8.1263513,17z/data=!4m8!4m7!1m0!1m5!1m1!1s0x47964f68e228b14d:0x114dfbafc8a67565!2m2!1d8.12854!2d49.29984"
				><img
					class="h-[400px] max-h-[800px] lg:h-auto w-full object-cover"
					src="/map.png"
					alt="Karte"
				/>
			</a>
		</main>
		<img
			class="absolute bottom-0 right-0 z-5"
			src="Sunflower.png"
			alt="Sunflower"
		/>
		<Footer lightText={true} />
	</div>
</Layout>

<style>
	:root {
		--astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);
	}
</style>
