---
import "../styles/global.css";
export interface Props {
	color: string;
	img: string;
	menu: string;
	navColorWhite: boolean;
}
const { color, img, menu, navColorWhite } = Astro.props as Props;

let navBarColor = "white";
if (!navColorWhite) {
	navBarColor = "black";
}
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
	</head>
	<body>
		<div class="body lg:h-screen">
			<div class="absolute h-1/6">
				<div class={`w-screen max-w-[1920px] bg-[${color}] h-6`}></div>
				<div class="flex justify-center items-center">
					<nav
						class={`flex lg:space-x-4 justify-center lg:justify-between items-center w-3/4 text-xl font-head z-10 text-[${navBarColor}]`}
					>
						<a class="hidden lg:flex" href="/Menue">Unser Menü</a>
						<a class="hidden lg:flex" href="/#Küche">Küche</a>
						<a href="/"
							><img
								class={`w-56 lg:w-64 bg-[#E8E7E7] p-4 rounded-b`}
								src="/Logo.png"
								alt="Logo"
							/>
						</a>
						<a class="hidden lg:flex" href="/Anlaesse">Anlässe</a>
						<a class="hidden lg:flex" href="/#ÜberUns">Über Uns</a>
					</nav>
				</div>
				<!-- Hamburger icon -->
				<input class="side-menu" type="checkbox" id="side-menu" />
				<label class="hamb" for="side-menu"
					><span class="hamb-line"></span>
				</label>
				<nav class="nav">
					<ul class="menu font-head text-xl">
						<li>
							<a href="/" onclick="closeMenu()">Startseite</a>
						</li>
						<li>
							<a href="/Menue" onclick="closeMenu()">Unser Menü</a
							>
						</li>
						<li>
							<a href="/#Küche" onclick="closeMenu()">Küche</a>
						</li>
						<li>
							<a href="/Anlaesse" onclick="closeMenu()">Anlässe</a
							>
						</li>
						<li>
							<a href="/#ÜberUns" onclick="closeMenu()"
								>Über Uns</a
							>
						</li>
					</ul>
				</nav>
				<!-- Menu -->
			</div>
			<article
				class={`h-full flex flex-col lg:flex-row items-center justify-center text-center  bg-center bg-cover ${img}`}
			>
				<slot />
				<!-- your content is injected here -->
			</article>
			<div class="flex justify-center">
				<div
					class={`bg-[${color}] w-screen max-w-[1920px] h-6 absolute bottom-0 mb-[-1px]`}
				>
				</div>
				<div
					class={`bg-[${color}] w-12 h-12 absolute bottom-0 rounded-full flex justify-center`}
				>
					<a href="#start"
						><img
							class="w-8 mt-1.5 object-contain"
							src={`${menu}`}
							alt="Menu"
						/>
					</a>
				</div>
			</div>
		</div>
		<script is:inline>
			function closeMenu() {
				const checkbox = document.getElementById("side-menu");
				checkbox.checked = !checkbox.checked;
			}
		</script>
		<style>
			@supports selector(:nth-child(1 of x)) {
				.body {
					height: 100svh;
					background-color: #e8e7e7;
				}
			}
			@supports not (-webkit-touch-callout: none) {
				.body {
					height: 100vh;
					background-color: #e8e7e7;
				}
			}
			body {
				height: 100vh;
			}
			.test {
				filter: brightness(50%);
			}

			:root {
				--white: #f9f9f9;
				--black: #565b60;
			}

			#Links {
				display: none;
			}

			a {
				text-decoration: none;
			}

			ul {
				list-style: none;
			}

			/* Nav menu */
			.nav {
				width: 100%;
				height: 100%;
				top: 0;
				position: fixed;
				background-color: var(--black);
				overflow: hidden;
				display: flex;
				justify-content: center;
				align-items: center;
				text-align: center;
			}

			.menu a {
				display: block;
				padding: 30px;
				color: var(--white);
			}

			.nav {
				max-height: 0;
				transition: max-height 0.3s ease-out;
				z-index: 15;
			}

			/* Menu Icon */

			.hamb {
				cursor: pointer;
				float: right;
				position: fixed;
				top: 70px;
				right: 50px;
				z-index: 20;
				mix-blend-mode: exclusion;
			}

			.hamb-line {
				background: var(--white);
				height: 3px;
				position: absolute;
				width: 30px;
				border-radius: 50px;
			}

			.hamb-line::before,
			.hamb-line::after {
				background: var(--white);
				content: "";
				display: block;
				height: 100%;
				position: absolute;
				transition: all 0.2s ease-out;
				width: 100%;
			}

			.hamb-line::before {
				top: 9px;
				border-radius: 50px;
			}

			.hamb-line::after {
				top: -9px;
				border-radius: 50px;
			}

			.side-menu {
				display: none;
			}

			/* Toggle menu icon */

			.side-menu:checked ~ nav {
				max-height: 100%;
			}

			.side-menu:checked ~ .hamb .hamb-line {
				background: transparent;
			}

			.side-menu:checked ~ .hamb .hamb-line::before {
				transform: rotate(-45deg);
				top: 0;
			}

			.side-menu:checked ~ .hamb .hamb-line::after {
				transform: rotate(45deg);
				top: 0;
			}

			/* Responsiveness */

			@media (min-width: 1024px) {
				.nav {
					display: none;
				}
				.hamb {
					display: none;
				}
			}
		</style>
	</body>
</html>
